* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    background-color: #3D373F;
    box-sizing: border-box;
}

/* Logo */

div.logo-image {
    background-color: goldenrod;
    width: 100%;
    height: 20%;
}

img#logo {
    display: block;
    margin: 0 auto 0 auto;
}

div.logo-container {
    width: 400px;
    border-top: 2px solid #D9C8A2;
    border-bottom: 2px solid #D9C8A2;
    padding: 10px 0;
    margin: 40px auto 0 auto;
    display: block;
}

h1.logo-text {
    color: #D9C8A2;
    font-family: 'Eagle Lake', cursive;
    display: block;
    margin: 0 auto;
    font-size: 56px;
    width: 90%;
    text-align: center;
}

div.tagline {
    color: #D59276;
    font-family: 'Forum', cursive;
    text-align: center;
    font-size: 27px;
    padding: 10px 0;
    margin-bottom: 30px;
}

/* Navigation */

ul.navigation {
    width: 600px;
    height: 20px;
    display: flex;
    text-transform: uppercase;
    margin: 40px auto;
    justify-content: center;
    margin-bottom: 80px;

}

li.navigation-item {
    color: white;
    float: left;
    font-size: 20px;
    font-family: 'Forum', cursive;
    padding: 0 20px 5px 20px;
    transition-duration: .5s;
}

li.navigation-item:hover {
    border-bottom: 2px solid #BDBDBD;
    border-radius: 50%;
    color: #C7C7C7;
}

li.current-page {
    border-bottom: 2px solid #BDBDBD;
    border-radius: 50%;
    color: #d5b276;
}

.mobile-navbar {
    display: none;
}

/* SLIDER CONTAINER */

div.slider-container {
    width: 1000px;
    height: 400px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    border: 2px solid #FCFCFA;
    margin: 60px auto 0 auto;
}

div.slide {
    width: 20%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

div.slider-container figure {
    position: relative;
    width: 500%;
    overflow: hidden;
    margin: 0;
    left: 0;
    animation: 50s slidy infinite;
    /* 'slidy' animation */
}

div.slide1 {
    background-image: url("slider/slider1.jpg");
}

div.slide2 {
    background-image: url("slider/slider2.jpg");
}

div.slide3 {
    background-image: url("slider/slider3.jpg");
}

div.slide4 {
    background-image: url("slider/slider4.jpg");
}

div.slide5 {
    background-image: url("slider/slider5.jpg");
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    12% {
        left: -100%;
    }

    22% {
        left: -100%;
    }

    24% {
        left: -200%;
    }

    34% {
        left: -200%;
    }

    36% {
        left: -300%;
    }

    46% {
        left: -300%;
    }

    48% {
        left: -400%;
    }

    58% {
        left: -400%;
    }

    60% {
        left: -300%;
    }

    76% {
        left: -300%;
    }

    72% {
        left: -200%;
    }

    82% {
        left: -300%;
    }

    84% {
        left: -100%;
    }

    94% {
        left: -100%;
    }

    96% {
        left: 0%;
    }

    100% {
        left: 0%;
    }
}

/* FEATURES COLUMNS*/

.features {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 50px auto;
}

.features img {
    width: 85%;
    margin-top: 40px;
}

.feature-item {
    margin-right: 20px;
}

p.feature-description {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
    word-spacing: 2px;
    line-height: 23px;
    padding: 0 45px 0 0;
}

div.feature-item {
    width: 333px;
    height: 400px;
    margin: 0 auto;
}

div h1.feature-title {
    color: #D9C8A2;
    font-family: 'Forum', cursive;
    font-size: 27px;
    font-weight: 400;
}

a.feature-read {
    background-color: #9B9E95;
    color: black;
    padding: 5px 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease-in-out;
}

a.feature-read:hover {
    background-color: #D9D4CD;
}

.fas {
    margin-right: 7px;
}

/* Footer container */

div.footer-container {
    width: 1000px;
    height: 200px;
    border-top: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 120px auto 60px auto;
    text-align: justify;
}

div.footer-column {
    width: 340px;
    height: 200px;
    text-align: center;
}

h1.footer-titles {
    text-transform: uppercase;
    color: #D9C8A2;
    font-size: 17px;
    font-weight: 400;
    padding: 30px 0;
    font-family: 'Open Sans', sans-serif;
}

p.footer-text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: 0;
    font-family: 'Maven Pro', sans-serif;
}

#show-map {
    color: #C1C1C1;
}

#show-map:hover {
    color: #706d6d;
}


/* Copyright footer */


footer {
    color: #D4D4D4;
    font-size: 18px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-family: 'Encode Sans', sans-serif;
    margin-top: 100px;
    text-align: center;
    opacity: .6;
}


/* MENU PAGE */

.menu-body {
    /* max-width: 680px; */
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    color: #fff;
}

.menu-section {
    margin-bottom: 80px;
}

.menu-section-title {
    font-family: 'Eagle Lake', cursive;
    font-size: 30px;
    display: block;
    font-weight: normal;
    margin: 20px 0;
    text-align: Center;
    color: #c6c0c9;
}

.menu-item {
    margin: 35px 0;
    font-size: 26px;
}

.menu-item-name {
    font-family: 'Forum', cursive;
    font-weight: bold;
    border-bottom: 2px dotted #D59276;
}

.menu-item-description {
    font-style: italic;
    font-size: .9em;
    line-height: 1.5em;
    color: #C1C1C1;
}

.menu-item-price {
    float: right;
    font-family: 'Forum', cursive;
    margin-top: -22px;
}

img.menu-img {
    display: none;
}

.hover-me:hover img.menu-img {
    display: block;
    border: 1px solid white;
    opacity: 0;
    animation: fadeIn 0.6s ease-in 1 forwards;
}

.menu-item-name:hover {
    cursor: pointer;
    color: #efdcd8;
    transition: .5s;
}

i {
    margin-right: 10px;
}

span.time {
    color: #C1C1C1;
}



/* EVENT PAGE */

.mobile-event-images {
    display: none;
}

.event-title {
    text-align: center;
    color: #D9C8A2;
    font-family: 'Forum', cursive;
    font-size: 27px;
    font-weight: 400;
    margin-top: 80px;
}

.event-row-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: 20px auto;
    grid-gap: 40px;
}

.event-row-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: 20px auto;
    grid-gap: 40px;
}

.event-row-three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: 20px auto;
    grid-gap: 40px;
}

div.event-box {
    max-width: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

img.event-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid white;
}

p.event-text {
    color: #fff;
    text-align: justify;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* ABOUT US  */

div#about-cnt {
    width: 1000px;
    height: 600px;
    justify-content: center;
    margin: auto;
    /* padding: 0 70px; */
}


img#about-image {
    margin: auto;
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid white;
}

p#about-text {
    color: #fff;
    text-align: justify;
    margin: 40px 10px 0 10px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p.clear {
    clear: right;
}

/* Team cards */

.team-title {
    text-align: center;
    color: #D9C8A2;
    font-family: 'Forum', cursive;
    font-size: 27px;
    font-weight: 400;
    margin-top: 400px;
}

.team-container {
    position: relative;
    width: 1000px;
    margin: 70px auto 0;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.team-container .card {
    position: relative;
    width: 300px;
    height: 440px;
    margin: 0 auto;
    background: #c09d6d;
    overflow: hidden;
    border: 1px solid white;
    transition: .5s;
}

.img-box img {
    width: 100%;
}

.team-container .card .img-box {
    position: absolute;
    top: 0;
    left: 0;
    widows: 100%;
    height: 100%;
    transition: .5s;
}

.team-container .card:hover .img-box {
    opacity: 1;
}

.team-container .card:hover .img-box img {
    width: 100%;
}

.team-container .card .content {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -100%;
    padding: 20px;
    padding-top: 40px;
    box-sizing: border-box;
    text-align: center;
    transition: .5s;
}

.team-container .card:hover .content {
    bottom: 0;
}

.team-container .card:nth-child(1) .content {
    background: linear-gradient(1deg, #2D312B, transparent);
}

.team-container .card:nth-child(2) .content {
    background: linear-gradient(0deg, #2D312B, transparent);
}

.team-container .card:nth-child(3) .content {
    background: linear-gradient(0deg, #2D312B, transparent);
}

.team-container .card .content h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #F8F8FF;
    font-size: 20px;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px black;
}

.team-container .card .content h2 span {
    color: #fff;
    font-size: 16px;
    background: transparent;
    font-family: 'Raleway', sans-serif;
}

.team-container .card .content p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.team-container .card .content ul {
    display: flex;
    margin: 20px 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.team-container .card .content ul li {
    list-style: none;
    background: transparent;
}


.team-container .card .content ul li a {
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
    transition: 0.5s;
    background: transparent;
}

.fab {
    background: transparent;
}

.fa-facebook-f:hover {
    color: #4267b2;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-linkedin-in:hover {
    color: #007bb5;
}

.mobile-team-block {
    display: none;
}


/* GALLERY PAGE */

#current {
    border: 1px solid white;
}

.gallery-container {
    max-width: 1000px;
    margin: 50px auto;
}

.main-img img,
.images img {
    width: 100%;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
}

/* Fade in animation */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}


/* RESERVATION Page */

.wrapper {
    width: 1000px;
    height: 550px;
    padding: 0 20px;
    margin: 0 auto;
}

.contact-form {
    max-width: 550px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 100%;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid grey;
    padding: 10px;
    color: white;
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

.msg textarea {
    height: 150px;
}

::-webkit-input-placeholder {
    color: #c09d6d;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 300;

}

::-moz-input-placeholder {
    color: #c09d6d;
}

::-ms-input-placeholder {
    color: #c09d6d;
}

.btn {
    background: #C1C1C1;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    background: grey;
    cursor: pointer;
    text-transform: uppercase;
    opacity: .8;
}

.btn:hover {
    transition: .5s;
    color: black;
    background: darkgray;
}

input:focus {
    outline: 0;
}

textarea:focus {
    outline: 0;
}


/* ************************************************************* */


/* MEDIA QUERIES */


/* ------------ 1012 px ----------------- */

@media (max-width: 1012px) {

    body,
    html {
        overflow-x: hidden;
    }

    div.logo-container {
        width: 80%;
    }

    div.tagline {
        width: 100%;
    }

    /* NAVIGATION */
    div.navbar {
        width: 100%;
        height: 70px;
    }

    ul.navigation {
        margin: 50px auto;
    }

    .navbar ul li {
        padding: 10px;
        margin-right: 20px;
    }

    /* SLIDER */
    div.slider-container {
        max-width: 100%;
    }

    /* FEATURE ITEMS */
    div.features {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        margin-top: 40px
    }

    div.feature-item {
        width: 60%;
        height: 620px;
        margin: 30px auto 30px auto;
        padding: 50px;
        display: block;
    }

    img.feature-img {
        width: 100%;
        height: auto;
        cursor: auto;
    }

    p.feature-description {
        margin: 30px auto;
        width: 100%;
        padding: 0;
    }

    a.feature-read {
        margin: 30px auto;
        font-size: 16px;
        display: block;
        padding: 15px;
    }


    /* Footer container */
    div.footer-container {
        width: 100%;
        height: auto;
        border-top: none;
        display: block;
        margin: 30px auto 30px auto;
        border-top: 1px solid white;
    }

    div.footer-column {
        width: 100%;
        height: 100%;
        margin: 30px auto;
        text-align: center;
    }

    p#opening {
        justify-content: center;
    }

    footer {
        color: #fff;
        padding: 20px 10px 20px 10px;
        font-family: 'Encode Sans', sans-serif;
        text-align: center;
        font-size: 18px;
    }

    /* MENU PAGE */
    .menu-body {
        width: 90%;
        margin: 0 auto;
        display: block;
        color: #fff;
        padding-top: 15px;
    }

    /*  EVENTS PAGE */

    .event-title {
        margin-top: 40px;
    }

    .mobile-event-images {
        display: block;
        text-align: center;
        margin-top: 40px;
    }

    .mobile-event-images img {
        max-width: 80%;
        border: 1px solid white;
    }

    .event-desc {
        margin: 60px 5px;
    }

    .event-desc p {
        color: #fff;
        text-align: justify;
        padding: 10px;
        width: 80%;
        margin: auto;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
    }

    .event-row-one {
        display: none;
    }

    .event-row-two {
        display: none;
    }

    .event-row-three {
        display: none;
    }



    /* ABOUT US */


    div#about-cnt {
        width: 100%;
        height: auto;
        margin: 40px auto;
    }

    img#about-image {
        margin: auto;
        padding: 0;
        width: 80%;
        height: auto;
    }

    p#about-text {
        padding: 20px 0;
        color: #fff;
        text-align: justify;
        /* margin: 0 auto; */
        width: 80%;
        margin: 20px auto;
    }

    .team-title {
        margin-top: 80px;
    }

    .team-container {
        display: none;
    }

    .mobile-team-block {
        display: block;
        width: 100%;
        text-align: center;
    }

    .team-card {
        margin: 40px auto 60px auto;
    }

    .team-card img {
        width: 40%;
        border: 1px solid white;
    }

    .team-card h2 {
        margin: 20px auto;
        padding: 0;
        color: #F8F8FF;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }

    .team-card h2 span {
        color: #C1C1C1;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
    }

    .team-card ul {
        display: flex;
        margin: 20px 0 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .team-card ul li a {
        color: #fff;
        margin: 0 10px;
        font-size: 20px;
    }


    .team-card p {
        width: 40%;
        text-align: justify;
        margin: 20px auto;
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        font-family: 'Open Sans', sans-serif;
    }

    /* GALLERY PAGE */

    div.gallery-container {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        grid-gap: auto;
        grid-row-gap: auto;
        margin-top: 30px;
    }

    .image-box img {
        width: 100%;
        margin-top: 20px;
    }

}


/* ********* 687px ************ */

@media (max-width: 690px) {

/* FEATURE ITEMS */

div.feature-item {
    height: 500px;
}
}


/* ********* 560px ************ */

@media (max-width: 560px) {

    .navbar {
        display: none;
    }

    .mobile-navbar {
        display: block;
        text-align: center;
    }

    .mobile-navbar li {
        margin-top: 20px;
    }

    ul.navigation {
        width: 100%;
        height: 200px;
        display: block;
        text-transform: uppercase;
        margin: 40px auto;
        justify-content: center;
        margin-bottom: 0;

    }

    li.navigation-item {
        color: white;
        float: none;
        font-size: 20px;
        font-family: 'Forum', cursive;
        padding: 0;
        transition-duration: .5s;
    }

    li.navigation-item:hover {
        border: none;
        border-radius: 0;
        color: #C7C7C7;
    }

    li.current-page {
        border-bottom: none;
        border-radius: 0;
        color: #d5b276;
    }

    div.slider-container {
        display: none;
    }


    /* FEATURE ITEMS */

    div.feature-item {
        width: 80%;
        height: 520px;
    }


/* MENU */

.menu-body {
    max-width: 800px;
    margin-top: 30px;
}

.menu-section {
    margin-bottom: 80px;
}

.menu-section-title {
    font-size: 25px;
    margin: 20px 0 50px 0;
}

.menu-item {
    margin: 35px 0;
    font-size: 26px;
}

.menu-item-name {
    font-size: 25px;
}

.menu-item-description {
    font-size: 20px;
     
}

.menu-item-price {
    font-size: 25px;
}

img.menu-img {
    display: none;
}

.hover-me:hover img.menu-img {
    display: block;
    width: 70%;
    border: 1px solid white;
    opacity: 0;
    animation: fadeIn 0.6s ease-in 1 forwards;
}

.menu-item-name:hover {
    cursor: pointer;
    color: #efdcd8;
    transition: .5s;
}
}